
.carousel {
   height: 100vh;
   overflow: hidden;
   cursor: pointer;

   display: flex;
   justify-content: center;
   align-items: center;


   .carousel-arrow-down {
      z-index: 2;
      position: absolute;
      transform: rotate(90deg);
      width: 75px;
      margin: 0 auto;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      transition: opacity 1s ease, transform 500ms ease;
   }

   .carousel-content {
      z-index: 2;
      position: relative;
      pointer-events: none;

      .title {
         font-size: 5em;
      }
      .description {
         opacity: 0.7;
         font-size: 2em;
      }
   }


   .carousel-fixed {
      position: fixed;
      height: 100%;
      width: 100%;

      .carousel-video {
         position: absolute;
         min-height: 100%;
         min-width: 100%;

         transition: filter 1s ease;

         animation-name: fade-in;
         animation-duration: 120ms;
         filter: blur(10px);
         &:hover {
            filter: blur(0px);
         }
      }
      .carousel-image {
         position: absolute;
         min-height: 100%;
         min-width: 100%;

         pointer-events: none;
         opacity: 0;
         transition: opacity 3s ease;
      }
      .video-overlay {
         position: absolute;
         z-index: 1;
         background-color: rgba(20, 20, 20, 0.7);
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         pointer-events: none;
      }
   }



   &:hover {
      .carousel-arrow-down {
         opacity: 0.5;
      }
   }
   &.active {
      .carousel-arrow-down {
         transform: rotate(-90deg);
      }
      .carousel-image {
         opacity: 1;
      }
   }
}

.card {
   display: none;
   margin-top: 5vh;
   padding-top: 50px;
   min-height: 100vh;
   overflow: visible;

   position: relative;
   background-color: #0e0e0edd;

   &:before {
      content: "";
      max-width: 500px;
      border-top: solid 8px $primary;
      border-radius: 2px;
      position: absolute;
      top: -4px;
      left: 0;
      right: 0;
      margin: auto;
   }

   &.active {
      display: block;
   }


   .row {
      padding: 20px 70px;

      opacity: 0;
      transform: translateY(100px);
      animation-name: slide-sm-up, fade-in;
      animation-duration: 1s;
      animation-delay: 250ms;
      animation-fill-mode: forwards;

      .card-feat {
         padding: 0 100px;
         margin-bottom: 50px;
      }

      .left {

      }

      .right {
         background-color: #111;
      }
   }
}
